.slider-container {
    position: relative;
    padding: 0;
}

.thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: transparent;
    cursor: pointer;
}

.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: relative;
    top: 10px;
}

.slider-track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 10px;
    background: #ddd;
    top: 50%;
    transform: translateY(-50%);
}

.slider-range {
    position: absolute;
    z-index: 2;
    height: 10px;
    background: #000000;
    top: 50%;
    transform: translateY(-50%);
}

.slider-labels {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 70px;
}

.slider-label-min,
.slider-label-max {
    color: #000;
    font-size: 14px;
}